@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"]</h1>

<p>
    This is an about page and I will be describing about myself. I am studying Computer Science and Information Technology at Academia International College.
</p>
