@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <p>
        This is the home page. Everthing for the home page will be shown here.
    </p>
</div>
